pre.sh_sourceCode {
  background: rgba(161,133,20,0.6);
  background: -moz-linear-gradient(-45deg, rgba(161,133,20,0.6) 0%, rgba(117,189,209,0.53) 59%, rgba(68,163,155,0.48) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(161,133,20,0.6)), color-stop(59%, rgba(117,189,209,0.53)), color-stop(100%, rgba(68,163,155,0.48)));
  background: -webkit-linear-gradient(-45deg, rgba(161,133,20,0.6) 0%, rgba(117,189,209,0.53) 59%, rgba(68,163,155,0.48) 100%);
  background: -o-linear-gradient(-45deg, rgba(161,133,20,0.6) 0%, rgba(117,189,209,0.53) 59%, rgba(68,163,155,0.48) 100%);
  background: -ms-linear-gradient(-45deg, rgba(161,133,20,0.6) 0%, rgba(117,189,209,0.53) 59%, rgba(68,163,155,0.48) 100%);
  background: linear-gradient(135deg, rgba(161,133,20,0.6) 0%, rgba(117,189,209,0.53) 59%, rgba(68,163,155,0.48) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a18514', endColorstr='#44a39b', GradientType=1 );
  background-size: cover;
  border: 2px solid #fafafa;
  box-shadow: 0 0 8px #fafafa;
  -webkit-box-shadow: 0 0 8px #fafafa; 
  za-moz-box-shadow: 0 0 8px #fafafa;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
pre.sh_sourceCode .sh_keyword {
  color: #00ed00;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_type {
  color: #00ed00;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_string {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_regexp {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_specialchar {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_comment {
  color: #888888;
  font-weight: normal;
  font-style: italic;
}

pre.sh_sourceCode .sh_number {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_preproc {
  color: #bfbfbf;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_symbol {
  color: #2fe7a9;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_function {
  color: #c0ff73;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_cbracket {
  color: #2fe7a9;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_url {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_date {
  color: #00ed00;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_time {
  color: #00ed00;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_file {
  color: #00ed00;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_ip {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_name {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_variable {
  color: #fafafa;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_oldfile {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_newfile {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_difflines {
  color: #00ed00;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_selector {
  color: #beef13;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_property {
  color: #00ed00;
  font-weight: bold;
  font-style: normal;
}

pre.sh_sourceCode .sh_value {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

