#page,.cv-section,li:before {
	position:relative
}
.copyright,input.btn {
	text-transform:uppercase
}
.cv-item:after,.cv-section:after,.pie-chart {
	clear:both
}
#contactform,#content>.cv-section:first-child,.header-bimg-fullw .contact-info,.header-bimg-fullw h1,.header-bimg-fullw h2,.loading-text,body {
	font-family:'Poiret One',cursive
}
html {
	cursor:url("../media/cursors/finn.cur"),default !important;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}
body {
	background-size:cover;
	background-image:url(../media/bg/trianglify-green-light.svg);
	background-color:#fafafa;
	background-attachment:fixed;
	height:100%;
	width:100%;
	overflow:hidden!important
}
a {
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	text-decoration:none;
	color:#fafafa;
	text-shadow:0 0 8px
}
a:hover {
	cursor:url("../media/cursors/link.cur"),default !important;
	color:rgba(255,116,0,.7)!important;
	text-decoration:none
}
.disable {
	color:#E0E0E0!important
}
#page {
	background:rgba(255,153,0,.6);
	background:-moz-linear-gradient(-45deg,rgba(255,153,0,.6) 0,rgba(117,189,209,.66) 59%,rgba(15,102,86,.7) 100%);
	background:-webkit-gradient(left top,right bottom,color-stop(0,rgba(255,153,0,.6)),color-stop(59%,rgba(117,189,209,.66)),color-stop(100%,rgba(15,102,86,.7)));
	background:-webkit-linear-gradient(-45deg,rgba(255,153,0,.6) 0,rgba(117,189,209,.66) 59%,rgba(15,102,86,.7) 100%);
	background:-o-linear-gradient(-45deg,rgba(255,153,0,.6) 0,rgba(117,189,209,.66) 59%,rgba(15,102,86,.7) 100%);
	background:-ms-linear-gradient(-45deg,rgba(255,153,0,.6) 0,rgba(117,189,209,.66) 59%,rgba(15,102,86,.7) 100%);
	background:linear-gradient(135deg,rgba(255,153,0,.6) 0,rgba(117,189,209,.66) 59%,rgba(15,102,86,.7) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900',endColorstr='#0f6656',GradientType=1 )
}
@media (min-width:992px) {
	#page {
		margin:48px auto
	}
	.cv-section {
		width:944px
	}
}
@media (min-width:1200px) {
	#page {
		margin:96px auto;
		max-width:1060px
	}
}
.cv-section {
	margin:0 auto;
	padding:60px 0;
	border-top:1px solid #e0e0e0
}
.cv-section-fullw,.fullw {
	margin-right:-15px;
	margin-left:-15px
}
.cv-section:after,.cv-section:before {
	content:"";
	display:table
}
@media (min-width:992px) {
	.cv-section-fullw {
		width:970px
	}
}
@media (min-width:1200px) {
	.cv-section-fullw {
		width:1060px
	}
}
@media (min-width:992px) {
	.fullw {
		width:970px
	}
}
@media (min-width:1200px) {
	.fullw {
		width:1060px
	}
}
.multi-column .cv-item {
	margin-bottom:24px
}
@media (min-width:992px) {
	.multi-column .cv-item {
		margin-bottom:0
	}
}
.multi-column>div:last-child .cv-item {
	margin-bottom:0
}
#header h1,#header h2 {
	color:#fafafa;
	font-weight:300px;
	max-width:422px
}
#header>.cv-section {
	border-top:10px solid #757575
}
#header .social-box {
	height:32px;
	width:192px
}
@media print {
	#header .social-box {
		display:none
	}
}
#header .social-box i {
	width:32px;
	height:32px;
	display:block;
	text-align:center;
	line-height:32px;
	font-size:26px;
	float:left;
	color:#fafafa;
	margin-right:8px;
	margin-bottom:8px;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease
}
#fav:focus,#fav:hover {
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease
}
#header .social-box i:hover {
	background-color:#ffb300;
	border-radius:130px;
	-webkit-border-radius:130px;
	-moz-border-radius:130px;
	box-shadow:0 0 8px rgba(0,0,0,.8);
	-webkit-box-shadow:0 0 8px rgba(0,0,0,.8);
	za-moz-box-shadow:0 0 8px rgba(0,0,0,.8)
}
.gmap,.portfolio img,pre.sh_sourceCode {
	za-moz-box-shadow:0 0 8px #fafafa
}
#header .social-box a:last-child i {
	margin-right:0
}
.header-bimg-fullw {
	opacity:1;
	background:url(../media/bg/animate-bg.png) no-repeat;
	background-size:cover;
	background-color:rgba(255,167,0,.7);
	padding-left:15px;
	padding-right:15px;
	margin-left:-15px;
	margin-right:-15px;
	border-color:#607d8b;
	-webkit-animation:moving 20s ease infinite
}
@-webkit-keyframes moving {
	0% {
		background-position:0 0
	}
	100% {
		background-position:0 500px
	}
}
@media (min-width:992px) {
	.header-bimg-fullw {
		width:970px
	}
}
.header-bimg-fullw.cv-section+.cv-section {
	border-top:none
}
@media (min-width:768px) {
	.header-bimg-fullw {
		color:#fafafa
	}
}
@media (min-width:1200px) {
	.header-bimg-fullw {
		width:1060px;
		padding-left:60px;
		padding-right:60px
	}
}
.header-bimg-fullw h1 {
	font-size:60px;
	margin-top:0;
	text-shadow:0 0 8px
}
.header-bimg-fullw h2 {
	text-shadow:0 0 6px;
	text-align:center;
	background-color:rgba(255,116,0,.7);
	display:block;
	margin:0;
	line-height:24px;
	font-size:24px;
	padding:12px
}
.header-bimg-fullw .contact-info,.header-bimg-fullw .social-box {
	margin-top:24px;
	text-shadow:0 0 8px
}
.header-bimg-fullw .contact-info {
	font-size:22px;
	line-height:22px
}
.header-bimg-fullw .contact-info a {
	color:rgba(255,116,22,1);
	text-shadow:0 0 3px;
	text-decoration:none
}
.header-bimg-fullw .contact-info a:hover {
	text-shadow:0 0 8px #adff2f;
	text-decoration:none
}
.header-bimg-fullw .contact-info a:last-child {
	color:#fafafa;
	text-shadow:0 0 8px;
	font-size:20px;
	text-decoration:none
}
.header-bimg-fullw .contact-info a:last-child:hover {
	text-shadow:0 0 8px maroon;
	text-decoration:none
}
.content h2,.content h3,.content h4 {
	text-shadow:0 0 8px
}
@-webkit-keyframes latido {
	0% {
		-webkit-transform:scale(1,1)
	}
	20%,40%,5%,60% {
		-webkit-transform:scale(1.2,1.2)
	}
	10%,30% {
		-webkit-transform:scale(1.3,1.3)
	}
	50%,70% {
		-webkit-transform:scale(1.1,1.1)
	}
}
#fav {
	color:coral;
	font-size:12
}
#fav:hover {
	color:rgba(255,116,0,.7);
	transition:all .2s ease;
	-webkit-animation:latido 4s ease
}
#fav:focus {
	color:coral;
	transition:all .2s ease;
	-webkit-animation:latido 5s ease;
	-webkit-animation-play-state:running
}
.content h2,.content h3,.content h4,.content h5,.content p {
	color:#fafafa
}
#content>.cv-section:first-child {
	border-top:0
}
#content>.cv-section:first-child h2 {
	font-size:34px
}
.content h2 {
	margin:0 0 48px;
	font-size:29px;
	font-weight:300
}
.content h3 {
	margin-top:0;
	font-size:20px;
	font-weight:700
}
.content h4 {
	font-size:22px
}
.content h5 {
	font-size:24px;
	text-shadow:0 0 8px
}
.content p,li {
	font-size:16px;
	text-shadow:0 0 8px
}
.content .fa {
	color:#757575
}
li,li:before {
	color:#fafafa
}
.cv-item:after,.cv-item:before {
	content:"";
	display:table
}
.cv-item+.cv-item {
	border-top:1px solid #e0e0e0;
	margin-top:48px;
	padding-top:48px
}
.cv-item.list {
	border:none;
	margin:0;
	padding-top:28px
}
.cv-item.list:first-child {
	padding-top:0
}
.cv-item.list h3 {
	font-weight:400;
	color:#fafafa;
	text-shadow:0 0 8px;
	text-align:left
}
@media (min-width:992px) {
	.cv-item.list:last-child h3 {
		margin:0
	}
}
ul {
	padding:0
}
li {
	list-style:none
}
li:before {
	content:"\232A";
	font-size:12px;
	margin-right:8px;
	top:-2px;
	text-shadow:0 0 2px
}
.copyright p,.icon-star {
	color:#fafafa;
	text-shadow:0 0 8px
}
.bs-component small,.cv-item small {
	font-size:18px;
	color:#fafafa;
	text-shadow:0 0 8px
}
pre.sh_sourceCode {
	opacity:.7;
	background:rgba(161,133,20,.6);
	background:-moz-linear-gradient(-45deg,rgba(161,133,20,.6) 0,rgba(117,189,209,.53) 59%,rgba(68,163,155,.48) 100%);
	background:-webkit-gradient(left top,right bottom,color-stop(0,rgba(161,133,20,.6)),color-stop(59%,rgba(117,189,209,.53)),color-stop(100%,rgba(68,163,155,.48)));
	background:-webkit-linear-gradient(-45deg,rgba(161,133,20,.6) 0,rgba(117,189,209,.53) 59%,rgba(68,163,155,.48) 100%);
	background:-o-linear-gradient(-45deg,rgba(161,133,20,.6) 0,rgba(117,189,209,.53) 59%,rgba(68,163,155,.48) 100%);
	background:-ms-linear-gradient(-45deg,rgba(161,133,20,.6) 0,rgba(117,189,209,.53) 59%,rgba(68,163,155,.48) 100%);
	background:linear-gradient(135deg,rgba(161,133,20,.6) 0,rgba(117,189,209,.53) 59%,rgba(68,163,155,.48) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a18514',endColorstr='#44a39b',GradientType=1 );
	background-size:cover;
	border:2px solid #fafafa;
	box-shadow:0 0 8px #fafafa;
	-webkit-box-shadow:0 0 8px #fafafa;
	padding-right:15px;
	margin-left:-15px;
	margin-right:-15px
}
.portfolio img {
	width:212px;
	max-width:216px;
	max-height:144px;
	margin-bottom:12px;
	border-radius:30px;
	border:2px solid #fafafa;
	box-shadow:0 0 8px #fafafa;
	-webkit-box-shadow:0 0 8px #fafafa
}
.port-item {
	overflow:visible
}
@media (max-width:767px) {
	.port-item {
		width:100%!important
	}
}
@media (min-width:480px) and (max-width:767px) {
	.port-item {
		width:50%!important
	}
}
.copyright {
	height:48px;
	margin:0 auto;
	background:rgba(255,153,0,.6);
	background:-moz-linear-gradient(-45deg,rgba(255,153,0,.6) 0,rgba(117,189,209,.66) 59%,rgba(15,102,86,.7) 100%);
	background:-webkit-gradient(left top,right bottom,color-stop(0,rgba(255,153,0,.6)),color-stop(59%,rgba(117,189,209,.66)),color-stop(100%,rgba(15,102,86,.7)));
	background:-webkit-linear-gradient(-45deg,rgba(255,153,0,.6) 0,rgba(117,189,209,.66) 59%,rgba(15,102,86,.7) 100%);
	background:-o-linear-gradient(-45deg,rgba(255,153,0,.6) 0,rgba(117,189,209,.66) 59%,rgba(15,102,86,.7) 100%);
	background:-ms-linear-gradient(-45deg,rgba(255,153,0,.6) 0,rgba(117,189,209,.66) 59%,rgba(15,102,86,.7) 100%);
	background:linear-gradient(135deg,rgba(255,153,0,.6) 0,rgba(117,189,209,.66) 59%,rgba(15,102,86,.7) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900',endColorstr='#0f6656',GradientType=1 );
	border-top-right-radius:10px;
	border-top-left-radius:10px
}
@media (min-width:992px) {
	.copyright {
		width:944px
	}
}
.copyright p {
	text-align:center;
	line-height:48px;
	font-size:28px
}
#contact-section-second a,input.btn,input.btn:hover {
	text-shadow:0 0 8px #fafafa
}
#contactform {
	margin-left:auto;
	margin-right:auto;
	width:auto;
	height:363px;
	overflow:visible
}
input,input.email,input.name,textarea {
	background:rgba(255,255,255,.4);
	width:100%;
	display:block;
	font-size:18px;
	margin-bottom:20px;
	overflow:visible;
	-moz-box-shadow:0 0 5px #fafafa;
	-webkit-box-shadow:0 0 5px #fafafa;
	color:#fff
}
textarea {
	height:150px;
	border:1px solid rgba(255,255,255,.4);
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	padding-left:20px;
	padding-right:20px;
	box-shadow:0 0 5px #fafafa
}
@media (max-width:481px) {
	textarea {
		text-align:center;
		padding-left:2px;
		padding-right:2px;
		text-overflow:clip
	}
}
input,input.email,input.name {
	height:48px;
	border:1px solid rgba(255,255,255,.4);
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	padding-left:20px;
	padding-right:20px;
	box-shadow:0 0 5px #fafafa
}
input[type=submit] {
	cursor:url("../media/cursors/fin.cur"),default;
}
input.message {
	background:rgba(255,255,255,.4)
}
::-webkit-input-placeholder {
	color:#fff
}
:-moz-placeholder {
	color:#fff
}
::-moz-placeholder {
	color:#fff
}
:-ms-input-placeholder {
	color:#fff
}
input:focus,textarea:focus {
	background-color:rgba(255,255,255,.4);
	-moz-box-shadow:0 0 5px #fafafa;
	-webkit-box-shadow:0 0 5px #fafafa;
	box-shadow:0 0 5px #fafafa;
	overflow:hidden
}
input.btn {
	background:rgba(0,0,0,0);
	border:transparent;
	width:100px;
	height:50px;
	float:right;
	margin-right:10px
}
input.btn:hover {
	color:#0ff;
	background:#fafafa;
	-moz-box-shadow:0 0 8px #fafafa;
	-webkit-box-shadow:0 0 8px #fafafa;
	box-shadow:0 0 8px #fafafa;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	-webkit-animation:latido 1s ease
}
@media (max-width:481px) {
	input {
		text-align:center;
		padding-left:2px;
		padding-right:2px;
		text-overflow:clip
	}
	.btn {
		float:none;
		width:100%
	}
}
#contact-section-second a {
	text-decoration-style:double;
	color:orange;
	font-size:32px
}
.addon .addon-right {
	right:24px
}
.addon .download-btn,.addon .print-btn,.addon .to-top-btn {
	text-align:center;
	line-height:48px;
	font-size:40px;
	width:48px;
	height:48px;
	color:orange;
	text-shadow:0 0 8px orange;
	position:fixed;
	display:none
}
@media print {
	.addon .download-btn,.addon .print-btn,.addon .to-top-btn {
		display:none
	}
}
@media (min-width:1200px) {
	.addon .download-btn,.addon .print-btn,.addon .to-top-btn {
		display:block
	}
}
.addon .download-btn:hover,.addon .print-btn:hover,.addon .to-top-btn:hover {
	color:#0ff;
	text-shadow:0 0 8px #fafafa
}
.addon .to-top-btn {
	bottom:280px
}
.addon .print-btn {
	bottom:110px
}
.addon .download-btn {
	bottom:50px
}
.mp-caption {
	cursor:-webkit-zoom-in;
	cursor:-moz-zoom-in;
	cursor:zoom-in
}
.mfp-zoom {
	display:block-inline;
	width:216px;
	height:114px;
	margin:0 auto
}
.mfp-title {
	text-shadow:0 0 8px;
	padding:6px 0
}
.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg {
	opacity:0;
	-webkit-backface-visibility:hidden;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease
}
.mfp-with-zoom.mfp-ready .mfp-container {
	opacity:1
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity:.8
}
.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity:0
}
.gmap {
	height:353.33px;
	background-color:#fcfcfc;
	border-corner-shape:scoop;
	border-radius:192px;
	border:2px solid #fafafa;
	box-shadow:0 0 8px #fafafa;
	-webkit-box-shadow:0 0 8px #fafafa
}
.pie-chart {
	position:relative;
	width:110px;
	height:110px;
	text-align:center;
	margin:0 auto 24px
}
@media (min-width:992px) {
	.pie-chart {
		margin-bottom:0
	}
}
.pie-chart .percent {
	line-height:110px
}
.pie-chart .percent:after {
	content:'%'
}
.pie-chart canvas {
	position:absolute;
	top:0;
	left:0
}
.box-space {
	opacity:0;
	background-color:#fff
}
.loading {
	position:fixed;
	width:100%;
	height:100%;
	background-color:#FFF;
	margin:0 auto;
	padding-top:148px;
	top:0;
	left:0;
	z-index:1036
}
.loading-inner {
	width:40px;
	margin:0 auto
}
.loading-section {
	width:40px;
	height:26px
}
.box {
	width:12px;
	height:12px;
	margin-left:2px;
	margin-bottom:2px;
	background:#fff;
	float:left
}
.box:nth-child(3n+1) {
	margin-left:0
}
.box-dance {
	-webkit-animation:dance 840ms infinite alternate;
	-o-animation:dance 840ms infinite alternate;
	animation:dance 840ms infinite alternate;
	-webkit-animation-name:dance;
	animation-name:dance
}
.box.box-dance:nth-child(1) {
	-webkit-animation-delay:-1.2s;
	animation-delay:-1.2s
}
.box.box-dance:nth-child(2) {
	-webkit-animation-delay:-2s;
	animation-delay:-2s
}
.box.box-dance:nth-child(3) {
	-webkit-animation-delay:-1.6s;
	animation-delay:-1.6s
}
.box.box-dance:nth-child(4) {
	-webkit-animation-delay:-3.2s;
	animation-delay:-3.2s
}
.box.box-dance:nth-child(5) {
	-webkit-animation-delay:-.4s;
	animation-delay:-.4s
}
.box.box-dance:nth-child(6) {
	-webkit-animation-delay:-3.6s;
	animation-delay:-3.6s
}
.box.box-dance:nth-child(7) {
	-webkit-animation-delay:-2.4s;
	animation-delay:-2.4s
}
.box.box-dance:nth-child(8) {
	-webkit-animation-delay:-2.8s;
	animation-delay:-2.8s
}
.box.box-dance:nth-child(9) {
	-webkit-animation-delay:-.8s;
	animation-delay:-.8s
}
@-moz-keyframes dance {
	from {
		background:rgba(106,194,147,.9)
	}
	to {
		background:rgba(106,194,147,.32);
		-webkit-transform:scale(.65)
	}
}
@-webkit-keyframes dance {
	from {
		background:rgba(106,194,147,.9)
	}
	to {
		background:rgba(106,194,147,.32);
		-webkit-transform:scale(.65)
	}
}
@-o-keyframes dance {
	from {
		background:rgba(106,194,147,.9)
	}
	to {
		background:rgba(106,194,147,.32);
		-webkit-transform:scale(.65)
	}
}
@-ms-keyframes dance {
	from {
		background:rgba(106,194,147,.9)
	}
	to {
		background:rgba(106,194,147,.32);
		-webkit-transform:scale(.65)
	}
}
@keyframes dance {
	from {
		background:rgba(106,194,147,.9)
	}
	to {
		background:rgba(106,194,147,.32);
		-webkit-transform:scale(.65)
	}
}
.loading-text {
	position:fixed;
	top:216px;
	text-align:center;
	width:100%;
	color:#616161;
	font-size:18px;
	letter-spacing:3px
}
.cv-section-fullw+.cv-section {
	border-top:0
}
#gmap+.copyright {
	margin-left:-15px;
	margin-right:-15px;
	border-radius:0
}
@media (min-width:992px) {
	#gmap+.copyright {
		width:970px
	}
}
@media (min-width:1200px) {
	#gmap+.copyright {
		width:1060px
	}
}
@media print {
	a[href]:after {
		content:none!important
	}
	.img-circle {
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0
	}
	.cv-section {
		padding: 44px 0
	}
}